/* solo regole valide  da 992px in poi*/
@media (min-width: 992px) {
    
    .about-wrap-cards {
        .card-item {
            height: 450px;
            width:calc(100% / 3 - 4rem);
            margin: 0 2rem;
        }
        
        .article-card {
            p {
                height: 240px;
            }
        } 
    }

    .bg-ad-audible {
        .container-article {
            align-self: center;
    
            .text-article {
                width:50%;
            }
        
            .container-logos {
                width: 50%;
            }
        }
    }
    

    /* upcoming events section */

    .container-upcoming {
        .card {
            height :400px
        }
    }

    /* header jumbo */
    .article-card {
        .article {
            height: 300px;
        }
    }
}