$saffronOrangeGold:#f3b329;
$black:#030303;
$white:#ffff;
$greenKeppel:#3da698;
$anzacOrangeDark:#e1aa40;
$lightDownPink:#f3ece3;
$darkBlue:#0279B6;
$lightBlue:#51bfc7;
$skyBlue:#f5fcfa;
$osloGray:#86888e;
