$saffronOrangeGold:#f3b329;
$anzacOrangeDark:#e1aa40;
$black:#030303;
$white:#ffff;
$osloGray:#86888e;
$lightGray:#8f9799;
$greenKeppel:#3da698;
$greenPrice:#65bc7b;
$greenDark:#49a987;
$lightBlue:#51bfc7;
$darkBlue:#0279B6;
$skyBlue:#f5fcfa;
$lightDownPink:#f3ece3;


